.about {
    background: url(../images/trafalgar-about-image.svg) no-repeat left 100px top;
    height: 650px;
}

.about__container {
    display: flex;
    justify-content: flex-end;
}

.about__inner {
    margin-top: 50px;
    display: none;
    margin-right: 75px;
    transition:0.2s ease;
}

.about__inner hr {
    margin: 30px 0;
}

.about__inner-button {
    margin-top: 25px;
    background: #fff;
    color: #458FF6;
}

.about__inner-button:hover {
    background: #458FF6;
    color: #fff;
    transition-duration: 0.4s;
    cursor: pointer;
}

@media screen and (min-width: 992px) and (max-width: 1440px) {

    .about {
        background-size: 55% 55%;
        background-position: left 0px top 160px;
    }

    .about__inner {
        margin-top: 0px;
        margin-right: 0px;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {

    .about {
        background-size: 50% 50%;
        background-position: left 10px top 160px;
    }

    .about__inner {
        margin-top: 165px;
        margin-right: 20px;
    }

    .about__inner h2 {
        margin: 10px 0;
    }

    .about__inner hr {
        margin: 20px 0;
    }

    .about__inner p {
        margin: 10px 0;
    }

    .about__inner-button {
        margin: 15px 0;
    }
}

@media screen and (min-width: 576px) and (max-width: 768px) {

    .about {
        background-size: 53% 53%;
        background-position: left 150px top 255px;
        height: 750px;
    }

    .about__inner {
        text-align: center;
        margin: 0 auto;
    }

    .about__inner h2 {
        margin: 10px 0;
    }

    .about__inner hr {
        margin: 15px auto;
    }

    .about__inner p {
        margin: 10px 0;
    }

    .about__inner-button {
        margin: 10px 0;
    }
}