html {
    margin: 0;
}

body {
    background: #fff;
    font-family: "Mulish", "Roboto", "Arial", sans-serif;
    color: #7D7987;
    margin: 0;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

p {
    font-weight: 300;
    font-size: 18px;
}

h1,
h2,
h3 {
    color: #000000;
}

ul {
    display: flex;
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
}

hr {
    width: 50px;
    border: none;
    border-radius: 10px;
    background-color: black;
    height: 3px;
    margin-bottom: 35px;
}

button {
    padding: 16px 40px;
    border: 3px solid #458FF6;
    border-radius: 55px;
    font-weight: 700;
    font-size: 18px;
    outline: none;
    font-family: "Mulish", sans-serif;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {

    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 45px;
    }

    p {
        font-size: 18px;
    }

    .container {
        padding: 0 40px;
    }
}


@media screen and (min-width: 768px) and (max-width: 992px) {

    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 38px;
    }

    h2 {
        font-size: 34px;
    }

    h3 {
        font-size: 22px;
    }

    p {
        font-size: 15px;
    }

    button {
        padding: 12px 29px;
    }

    .container {
        padding: 0 40px;
    }
}

@media screen and (max-width: 768px) {
    body {
        overflow-x: hidden;
    }

    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 30px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 15.5px;
    }

    button {
        padding: 9px 26px;
    }

    .container {
        padding: 0 40px;
    }

}