.intro__container {
    display: flex;
}

.intro__inner {
    margin-top: 80px;
}

.intro__inner h1,
p {
    transition: 0.2s ease;
}


.intro__inner-button {
    margin-top: 25px;
    background: #458FF6;
    color: #fff;
    transition: 0.2s ease;
}

.intro__inner-button:hover {
    background: #fff;
    color: #458FF6;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 3px solid #458FF6;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
    .intro__inner {
        margin-top: 115px;
        margin-left: 40px;
    }

    .intro__inner h1 {
        margin: 10px 0;
    }

    .intro__inner-button {
        margin-top: 15px;
    }

}

@media screen and (max-width: 768px) {
    .intro__inner {
        text-align: center;
        margin: 0 auto;
        margin-top: 100px;
    }

    .intro__inner h1 {
        margin: 10px 0;
    }

    .intro__inner-button {
        margin-top: 15px;
    }
}

@media screen and (max-width:576px) {

    .intro__inner {
        margin-top: 250px;
    }
}