html {
    margin: 0;
}

body {
    background: #fff;
    font-family: "Mulish", sans-serif;
    color: #7D7987;
    margin: 0;
}

a {
    text-decoration: none;
}

ol,
ul {
    list-style: none;
}

p {
    font-weight: 300;
    font-size: 18px;
}

h1,
h2,
h3 {
    color: #000000;
}

ul {
    display: flex;
}

h1 {
    font-weight: 700;
    font-size: 48px;
}

h2 {
    font-weight: 700;
    font-size: 36px;
}

h3 {
    font-weight: 700;
    font-size: 24px;
}

button {
    padding: 16px 40px;
    border: 3px solid #458FF6;
    border-radius: 55px;
    font-weight: 700;
    font-size: 18px;
    outline: none;
    font-family: "Mulish", sans-serif;
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

/*** header ***/

.header {
    background: url(../images/trafalgar-header-image.svg) no-repeat right 110px top 160px;
    height: 950px;
}

.header__container {
    padding-top: 25px;
}

.header__nav {
    display: flex;
    justify-content: space-between;
}

.header__nav ul li {
    padding-top: 8px;
    padding-left: 40px;
    font-size: 18px;
    font-weight: 400;
}

.header__nav-link {
    color: #7D7987;
}

.header__nav-main-link {
    color: #1F1534;
    font-weight: 700;
}

.intro__container {
    display: flex;
    padding-top: 80px;
}

.intro_inner {
    padding-bottom: 100px;
}


.intro__inner-button {
    margin-top: 25px;
    background: #458FF6;
    color: #fff;
}

.intro__inner-button:hover {
    background: #fff;
    color: #458FF6;
    transition-duration: 0.4s;
    cursor: pointer;
    border: 3px solid #458FF6;
}

/*** about ***/

.about {
    background: url(../images/trafalgar-about-image.svg) no-repeat left 100px top;
    height: 650px;
}

.about__container {
    display: flex;
    justify-content: flex-end;
}

.about__inner {
    margin-top: 50px;
    margin-right: 75px;
}

.about__inner hr {
    margin: 30px 0;
}

.about__inner-button {
    margin-top: 25px;
    background: #fff;
    color: #458FF6;
}

.about__inner-button:hover {
    background: #458FF6;
    color: #fff;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 16px 40px;
}

/*** services ***/

.services {
    text-align: center;
    background: url(../images/wave-center-background.svg) no-repeat left top;
    height: 1250px;
    position: relative;
}

.services__container {
    width: 850px;
}

.services__inner p {
    padding-bottom: 80px;
}


.services p {
    font-size: 16px;
}

hr {
    width: 50px;
    border: none;
    border-radius: 10px;
    background-color: black;
    height: 3px;
    margin-bottom: 35px;
}

.services__blocks-top,
.services__blocks-bottom {
    display: flex;
    justify-content: center;
}


.services__block-item {
    width: 275px;
    height: 230px;
    background-color: #fff;
    box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
    border-radius: 20px;
    margin-left: 34px;
    margin-bottom: 37px;
    text-align: left;
    padding: 54px 37px;
    z-index: 1;
}

.services__button {
    margin-top: 35px;
    background: #fff;
    color: #458FF6;
}

.services__button:hover {
    background: #458FF6;
    color: #fff;
    transition-duration: 0.4s;
    cursor: pointer;
    padding: 16px 40px;
}

.services__square-first {
    position: absolute;
    left: 1250px;
    top: 500px;
    opacity: 0.3;
    z-index: 0;
}

.services__square-second {
    position: absolute;
    left: 1330px;
    bottom: -67px;
}

/*** footer ***/

.footer {
    height: 125px;
    overflow: hidden;
    background: linear-gradient(183.41deg, #67C3F3 -8.57%, #5A98F2 82.96%);
    position: relative;
}

.footer__block {
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.footer__block ul li {
    padding-left: 230px;
    font-size: 18px;
    font-weight: 400;
}

.footer__block ul li a {
    color: #fff;
}

.footer__square {
    position: absolute;
    left: -15px;
    top: 25px;
    opacity: 0.3;
}















































































































































































































#a {
    padding-top: 22px;
}

#b {
    padding-top: 10px;
}